<%- include('partials/header'); -%>
<div class="container">

    <h1>Home</h1>
<p> <%= homeContent %> </p>
  <div class="row"></div>
<% if(posts != null) { %>
  

   

<%posts.forEach((post) => {%>
    <% const fullPostLength = post.description; %>
<div class="col-md-4">
    <div class="card" >
        <div class="card-body">
            <h2 class="card-title"><%= post.title; %></h2>
            <p class="card-text"><%= fullPostLength.substring(0, 100) + "..."%> </p>
            <a href="<%= "/posts/" + post.title %>" class="card-link" style="color: white; text-decoration: none"> <button class="btn btn-success"> Read More</button> </a>
        </div>
    </div> 
</div>
<%});%>


<% } else {  %>
    <p>Nothing Found</p>
<% } %> 

</div>
 </div>




<%- include('partials/footer'); -%>
